---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import IconButton from '../components/IconButton';
import gh_white from '../icons/github_white.png';
import li_white from '../icons/linkedin_white.png';

---

<Layout title="Ignacy Łątka">
	<main>

		<IconButton src={gh_white.src} href="https://github.com/latekvo">latekvo</IconButton>
		<IconButton src={li_white.src} href="https://www.linkedin.com/in/ignacy-latka/">ignacy-latka</IconButton>


		<div class="header">
			<h1>Hi, I'm <span class="text-gradient">Ignacy</span></h1>
			<h3>Developing software since 2020.</h3>
		</div>

		<h2>Projects<span class="text-gradient">.</span></h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/latekvo/ResearchChain/"
				title="Research Chain"
				body="Research Tool utilizing LLM, RAG and web browsing pipelines."
			/>
			<Card
				href="https://github.com/latekvo/art-institute-of-chicago-app/"
				title="Virtual Museum"
				body="Browse artworks of Art Institute of Chicago."
			/>
			<Card
				href="https://github.com/LatekVo/angular-messenger/"
				title="Messenger from scratch"
				body="Participate in conversations with people from anywhere in the world."
			/>
			<Card
				href="https://github.com/LatekVo/web-chess/"
				title="Chess from scratch"
				body="Play chess online with my custom-built chess engine."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.header {
		text-align: left;
		margin-bottom: 50px;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
	}
	h3 {
		color: grey;
		font-weight: 500;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
